ul{
    list-style-type: none;
}
nav {
    padding: .002%;
    background-color: grey; 
    margin: 0px;
}
body {
    margin: 0;
}
a{
    text-decoration: none;
}

.admin-menu{
    display: flex;
    flex-direction: row;
}