.pre-admin-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.admin-block{
    padding: 16px;
    border:solid 2px black;
    border-radius: 5px;
    width: 500px;
    justify-content: center;
}