html {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    font-size: 25px;
}


/* animation */

@keyframes slide {
        from {
            margin-left: -15% ;
            margin-top: 5% ;
        }

        to {
            margin-left:35%;
            margin-top:5%;

        }
}


/* end animation  */



form {
    border : 2px solid black;
    border-radius: 1em;
    width: 25%;
    background-color: rgb(72, 166, 255);
    padding: 2%;
    margin-left: 35%;
    margin-top: 5%;
    animation: slide .8s;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:focus,
a:hover {
    font-size: 20px;
    transition: .2s;
    background-color: grey;
    border-radius: 1em;
    padding: 2%;
    color: white;
}

input {
    margin-left: 30%;
    display: flex;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    padding: 2%;
    border-radius: 1em;
}

input:focus {
    transition: .5s;
    padding:3%;
}

input.submit {
    width: 30%;
    cursor: pointer;
    margin-left: 33.5% ;
}

input.submit:hover,
input.submit:focus {
    background-color: rgb(95, 95, 234);
    transition: ease-in-out .3s;
    padding:3%;
}

