html {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    font-size: 25px;
}

form {
    border : 2px solid black;
    border-radius: 1em;
    width: 25%;
    background-color: rgb(72, 166, 255);
    padding: 2%;
}

a.connexion:focus,
a.connexion:hover {
    color: white;
    text-decoration: underline;
}

input {
    display: flex;
    border: 1px solid rgb(0, 0, 0);
    padding: 2%;
    border-radius: 1em;
    align-items: center;
}
.adresse{
    border:solid 1px black;
    text-align: center;
}
.description{
    border:solid 1px black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hotel-description{
    border:solid 1px black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 50px;
}

.texte-hotel{
    align-self:center;
    position: relative;
    right: 20%;
}
.tourisme-description{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 500px;
}

.image-tourismes{
   display: flex;
   display: inline-flex;
}


