html {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    font-size: 25px;
}

form {
    border : 2px solid black;
    width: 25%;
    background-color: rgb(132, 255, 55);
    padding: 2%;
}

input {
    border: 1px solid black;
    padding: 1%;
    border-radius: 1em;
}
.adresse{
    border:solid 1px black;
    text-align: center;
}
.description{
    border:solid 1px black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hotel-description{
    border:solid 1px black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.texte-hotel{
    align-self:center;
    position: relative;
    right: 20%;
}