html {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    font-size: 25px;
}

.adresse{
    border:solid 1px black;
    text-align: center;
}
.description{
    padding: 1%;
    border:solid 1px black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hotel-description{
    padding: 1%;
    border:solid 1px black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.texte-hotel{
    align-self:center;
    position: relative;
    right: 20%;
}

.tourisme-description{
    border:solid 1px black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px;
}

.image-tourismes{
   display: grid;
   grid-template-columns: 2fr 1fr;
}