nav {
    border: 1px solid grey;
    border-radius: 1em;
    background-color: grey;
}
li {
    list-style: none;
    color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    justify-content: space-around;
}
