body {
    margin: 0;
}

nav {
    border: 10px solid grey;
    background-color: grey;
}
li {
    font-size: 20px;
    list-style: none;
    color: rgb(0, 0, 0);
}

li:hover,
li:focus {
    transition: ease-in 0.2s;
    color:rgb(255, 255, 255)
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    gap: 15px;
    margin-left:15%;
}
