html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#section-1{
    height: 100vh;
    background-image: url();
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 767px){
    #section-1 header .left img{
        display: none;
    }
}
#section-1 .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    height: 70%;
    margin: 0 auto;
   
}
#section-1 .container a{
    color: rgb(19, 205, 19);
    border: 3px solid;
    padding: 10px;    
}

#section-1 .container .midle{
    margin-left: 55px;
}

