html{
    background-color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {


}

label{


}

input{


}

span{


}

.form-group {


}

.form-control {


}


.submit {


}


.submit2 {



}
a:hover,
a:focus {
    

}