html{
    background-color: rgb(149, 255, 0);
    font-family:'Courier New', Courier, monospace

}

.msg_bvn {
     

}


body {
    font: 14px sans-serif; text-align: center;


}

label{ 
    


}


.invalid-feedback{


}

.form-group {


}

.form-control {


}


.submit {


}


.reset {



}

.wrapper {
    width: 360px; padding: 20px;
    
}


a:hover,
a:focus {
    

}