html{
    background-color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.msg_bvn {
     

}


body {
    font: 14px sans-serif; text-align: center;


}

label{


}


.invalid-feedback{


}

.form-group {


}

.form-control {


}


.submit {


}


.reset {



}

.wrapper {

    
}


a:hover,
a:focus {
    

}